<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/common::head"></head>
<body class="body-main">
<header th:replace="fragments/common::navigation"></header>

<div class="container">
    <div class="jumbotron text-black">
        <h2 class="text-center">Промяна на парола</h2>
        <form
                th:action="@{/manage/user/changepassword}"
                th:method="post"
                th:object="${userModel}"
                class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

            <div class="row justify-content-center">
                <div class="form-group col-md-6 mb-3">
                    <label for="oldPassword" class="font-weight-bold">Стара парола</label>
                    <input id="oldPassword"
                           name="oldPassword"
                           th:field="*{oldPassword}"
                           th:errorclass="is-invalid"
                           type="password" min="4" max="20" class="form-control"
                           placeholder="Стара парола"/>
                        <p th:if="${oldNotMatch}" class="errors alert alert-danger">
                            Некоректна стара парола!
                        </p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-group col-md-6 mb-3">
                    <label for="password" class="font-weight-bold">Парола</label>
                    <input id="password"
                           name="password"
                           th:field="*{password}"
                           th:errorclass="is-invalid"
                           type="password" min="4" max="20" class="form-control"
                           placeholder="Парола"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Паролата е задължителна
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 mb-3">
                    <label for="confirmPassword" class="font-weight-bold">Потвърди парола</label>
                    <input id="confirmPassword"
                           th:field="*{confirmPassword}"
                           type="password" min="4" max="20" class="form-control"
                           placeholder="Потвърдете паролата"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Потвърждението на паролата е задължително
                    </p>
                    <p th:if="${passMismatches}" class="errors alert alert-danger">
                        Паролите не съвпадат!
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="button-holder d-flex justify-content-end">
                        <input type="submit" class="btn btn-info btn-lg" value="Запис"/>
                    </div>
                </div>
                <div class="col">
                    <div class="button-holder d-flex justify-content-start">
                        <a class="btn btn-info btn-lg" href="/" role="button">Отказ</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragments/common::footer"></footer>
</body>
</html>