<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head"></head>
<body class="body-main">
<header th:replace="fragments/common::navigation"></header>

<div class="container">
    <div class="jumbotron text-black">
        <h2 class="text-center pb-3">Създаване на нов акаунт</h2>
        <form
                th:action="@{/users/register}"
                th:method="post"
                th:object="${userModel}"
                class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">


            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="username" class="font-weight-bold">Потребителско име</label>
                    <input id="username"
                           name="username"
                           th:field="*{username}"
                           th:errorclass="is-invalid"
                           type="text" min="4" max="20" class="form-control"
                           placeholder="Потребителско име"/>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                       class="invalid-feedback errors alert alert-danger">
                        Потребителското име е задължително
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="email" class="font-weight-bold">Email</label>
                    <input id="email"
                           name="email"
                           th:field="*{email}"
                           th:errorclass="is-invalid"
                           type="email" class="form-control"
                           placeholder="E-mail"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Въведете валиден email адрес.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="firstName" class="font-weight-bold">Собствено име</label>
                    <input
                            id="firstName"
                            th:field="*{firstName}"
                            th:errorclass="is-invalid"
                            type="text"
                            class="form-control"
                            placeholder="Име"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Собственото име е задължително и трябва да е между 4 и 20 букви.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="lastName" class="font-weight-bold">Фамилно име</label>
                    <input id="lastName"
                           name="lastName"
                           th:field="*{lastName}"
                           th:errorclass="is-invalid"
                           type="text" min="4" max="20" class="form-control"
                           placeholder="Фамилия"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Фамилното име е задължително и трябва да е между 4 и 20 букви.
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="password" class="font-weight-bold">Парола</label>
                    <input id="password"
                           name="password"
                           th:field="*{password}"
                           th:errorclass="is-invalid"
                           type="password" min="4" max="20" class="form-control"
                           placeholder="Парола"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Паролата е задължителна
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="confirmPassword" class="font-weight-bold">Потвърди парола</label>
                    <input id="confirmPassword"
                           th:field="*{confirmPassword}"
                           type="password" min="4" max="20" class="form-control"
                           placeholder="Потвърдете паролата"/>
                    <p class="invalid-feedback errors alert alert-danger">
                        Потвърждението на паролата е задължително
                    </p>
                </div>
            </div>
            <div th:if="${userNameOccupied}" class="row">
                <div class="form-group col-md-12 mb-6">
                    <p class="errors alert alert-danger">
                        Потребителското име е вече заето!
                    </p>
                </div>
            </div>

            <div class="row align-self-center pt-3">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Създай акаунт"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragments/common::footer"></footer>
</body>
</html>