<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/common::head"></head>
<body class="body-main">
<header th:replace="fragments/common::navigation"></header>
<div class="container">
    <div class="jumbotron">
        <div class="container text-dark text-center">
            <h1 class="display-6">
                <strong class="rounded border-white pl-3 font-weight-bold" th:text="${camType}">Фотоапарати тип
                    ...</strong>
            </h1>
        </div>
        <div class="row">
            <div class="col-2 container d-none d-lg-block">
                <div class="row p-2 bg-dark bg-opacity-50 text-white">
                    <div class="bg-dark bg-opacity-50">
                        <h5 class="text-decoration-underline text-center">Филтър</h5>
                    </div>
                    <form th:object="${filter}"
                          th:action="@{'/cameras/'+${type}}"
                          th:method="post">
                        <!--                        ПРОИЗВОДИТЕЛИ-->
                        <h6 class="text-center pt-1">Производител</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" th:name="brandsRadio" th:id="brandsRadio1"
                                   th:value="''" th:field="${filter.brand}" th:checked="${filter.brand}">
                            <label class="form-check-label" th:for="brandsRadio1" th:text="Всички"></label>
                        </div>
                        <div class="form-check" th:each="b : ${cameraBrands}" th:object="${b}">
                            <input class="form-check-input" type="radio" th:name="brandsRadio"
                                   th:id="'brandsRadio'+ *{id}" th:value="*{id}" th:field="${filter.brand}"
                                   th:checked="${filter.brand}">
                            <label class="form-check-label" th:for="'brandsRadio'+ *{id}"
                                   th:text="*{getBrandName()}"></label>
                        </div>

                        <!--                        РАЗМЕР НА СЕНЗОРА-->
                        <h6 class="text-center pt-1">Сензор</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" th:name="sensorRadio" th:id="sensorRadio1"
                                   th:value="null" th:field="${filter.sensorSize}" checked>
                            <label class="form-check-label" th:for="sensorRadio1" th:text="Всички"></label>
                        </div>
                        <div class="form-check"
                             th:each="s : ${T(softuni.photostore.model.entity.enums.CameraSensorSizeEnum).values()}"
                             th:object="${s}">
                            <input class="form-check-input" type="radio" th:name="sensorRadio"
                                   th:id="'sensorRadio'+ *{name()}"
                                   th:value="*{name()}" th:field="${filter.sensorSize}">
                            <label class="form-check-label" th:for="'sensorRadio'+ *{name()}"
                                   th:text="*{getDisplayName()}"></label>
                        </div>

                        <!--                        ЦЕНА-->
                        <div class="row">
                            <label class="text-white fw-bold text-center p-1">Цена</label>
                            <div class="col">
                                <input id="priceFrom"
                                       name="priceFrom"
                                       th:field="*{priceFrom}"
                                       th:errorclass="is-invalid"
                                       type="number" class="form-control"
                                       placeholder="от"/>
                            </div>
                            <div class="col">
                                <input id="priceТо"
                                       name="priceТо"
                                       th:field="*{priceTo}"
                                       th:errorclass="is-invalid"
                                       type="text" class="form-control"
                                       placeholder="до"/>
                            </div>
                        </div>

                        <!--                        БУТОН-->
                        <div class="row">
                            <button type="submit" class="btn btn-info mt-3"
                                    data-bs-toggle="modal">Приложи
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!--            СЪБОЩЕНИЕ ПРИ ЛИПСВАЩИ РЕЗУЛТАТИ-->
            <div class="col-10 px-4" th:unless="${areCamerasAvailable}">
                <div class="form-group row">
                    <div class="container pb-1 bg-dark bg-opacity-50 text-white text-center">
                        <h3 class="p-5 mt-5 mb-5">Няма налични камери по зададените критерии</h3>
                    </div>
                </div>
            </div>

            <!--            СПИСЪК С КАМЕРИТЕ-->
            <div class="col">
                <div class="form-group row">
                    <div class="container pb-1" th:each="c : ${cameras}"
                         th:object="${c}">
                        <a class="page-link bg-dark bg-opacity-50 text-white"
                           th:href="@{/cameras/details/{id}(id=*{id})}">
                            <div class="row mt-1 mb-1">
                                <div class="col-2">
                                    <img th:src="*{pictures.url}" class="img-thumbnail img-fluid shadow-lg"
                                         th:href="@{/cameras/{id}(id=*{id})}">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <h4 th:text="*{modelName}"></h4>
                                    </div>
                                    <div class="row pt-3 border-bottom">
                                        <h6 class="max-lines" th:text="*{description}"></h6>
                                    </div>

                                    <div class="row">
                                        <div class="col pt-1 text-info" th:if="*{quantity > 0}">
                                            <h6>В наличност</h6>
                                        </div>
                                        <div class="col pt-1 text-danger" th:unless="*{quantity > 0}">
                                            <h6>Изчерпан</h6>
                                        </div>
                                        <div class="col pt-1 text-end">
                                            <h6 th:text="'Цена: '+*{price} + ' лв.'"></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer th:replace="fragments/common::footer"></footer>

</body>
</html>