<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head"></head>
<body class="body-main">
<header th:replace="fragments/common::navigation"></header>

<main role="main">
    <div class="jumbotron">
        <div class="container align-content-center rounded p-5 pt-1">
            <div class="row bg-dark bg-opacity-25 p-2 m-4 p-5">
<!--                <h3 class="pl-5 pt-2 text-white text-center" th:text="${message}">Грешка</h3>-->
                <h3 class="pl-5 pt-2 text-white text-center">Нямате достъп или страницата не съществува.</h3>
                <img src="/images/error-image.png">
            </div>

        </div>
</main>

<footer th:replace="fragments/common::footer"></footer>
</body>
</html>